<div class="container">
  <div [hidden]="!pets">
    <h3 class="title">Mascotas</h3>
    <table #dataTable mat-table [dataSource]="pets">
      <!--Name Col -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let item">{{item.name}} </td>
      </ng-container>
      <!--Name Col -->
      <ng-container matColumnDef="specie">
        <th mat-header-cell *matHeaderCellDef>Especie</th>
        <td mat-cell *matCellDef="let item">{{item.species.name}} </td>
      </ng-container>
      <!--Name Col -->
      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef>Dueño</th>
        <td mat-cell *matCellDef="let item">
          {{item.owner.lastname ? item.owner.name+" "+item.owner.lastname : item.owner.name}} </td>
      </ng-container>
      <!--Name Col -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let item">{{item.state ? "Activo" : "Inactivo"}} </td>
      </ng-container>
      <ng-container matColumnDef="edit" *ngIf="permUpdate">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let item">
          <button class="edit" mat-mini-fab color="accent" aria-label="Update Specie" (click)="openDialog(item)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="conditions" *ngIf="permCondit">
        <th mat-header-cell *matHeaderCellDef>Condiciones</th>
        <td mat-cell *matCellDef="let item">
          <button class="conditions" mat-mini-fab color="accent" aria-label="Update Specie"
            [routerLink]="['/condiciones-mascotas', item.id]">
            <mat-icon>healing</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- ROW Info-->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay;"></tr>

    </table>
    <div class="paginator-container">
      <br>
      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
      </mat-paginator>
      <br>
    </div>
  </div>
  <div *ngIf="!pets">
    <h3 class="title">No hay mascotas que mostrar</h3>
  </div>
  <div class="fav-icon" *ngIf="permCreate">
    <button mat-fab color="accent" aria-label="Add species" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
