.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
}

.header {
  width: 100%;
}

.header-container{
  margin: 16px;
}

.absolute {
  background-color: white;
  z-index: 1;
  position: absolute;
  width: 92%;
  left: 0;
  bottom: 0;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-nav-list {
  color: white;
  background-color: white;
  height: 585px;
}

.toolbar {
  color: white;
  background-color: white;
  display: flex;
  justify-content: center;
}

#username{
  font-size: 1em;
  font-weight: bold;
}

#email{
  font-size: 0.7em;
  font-weight: bold;
}

#avatar{
  margin-bottom: 10px;
}
