<h3 class="title">Desarrolladores de lado del cliente</h3>
<div style="display:flex; flex-direction: row;">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="fernando"></div>
      <mat-card-title>Fernando Reyes</mat-card-title>
      <mat-card-subtitle>Frontend</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="Angular">
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">Diseñador de plantilla general del sistema</mat-list-item>
        <mat-list-item role="listitem">Creación y funcionamiento del login</mat-list-item>
        <mat-list-item role="listitem">Desarrollar horarios de los doctores</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="kevin"></div>
        <mat-card-title>Kevin Morán</mat-card-title>
        <mat-card-subtitle>Frontend</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="Angular">
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">Desarrollo de mulltiples CRUDS</mat-list-item>
          <mat-list-item role="listitem">Desarrollo del control de citas</mat-list-item>
          <mat-list-item role="listitem">Organizador general de tareas</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="oscar"></div>
        <mat-card-title>Oscar Argueta</mat-card-title>
        <mat-card-subtitle>Frontend</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="Angular material">
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">Desarrollo del Dashboard</mat-list-item>
          <mat-list-item role="listitem">Implementación de permisos</mat-list-item>
          <mat-list-item role="listitem">Implementación de registros de mascota por cliente</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
</div>

<h3 class="title">Desarrolladores de lado del servidor</h3>
<div style="display:flex; flex-direction: row;">
    <mat-card class="cartas2">
      <mat-card-header>
        <div mat-card-avatar class="german"></div>
        <mat-card-title>German Cáceres</mat-card-title>
        <mat-card-subtitle>Backend</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://cdn.freebiesupply.com/logos/thumbs/2x/lumen-1-logo.png" alt="Lumen">
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">Desarrollo de mulltiples CRUDS</mat-list-item>
          <mat-list-item role="listitem">Implementación de tipos de usuario y permisos</mat-list-item>
          <mat-list-item role="listitem">Desarrollador del control de citas</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

      <mat-card class="cartas2">
        <mat-card-header>
          <div mat-card-avatar class="miguel"></div>
          <mat-card-title>Miguel Flores</mat-card-title>
          <mat-card-subtitle>Backend</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.freebiesupply.com/logos/thumbs/2x/lumen-1-logo.png" alt="Lumen">
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">Diseño de base de datos</mat-list-item>
            <mat-list-item role="listitem">Creación de migraciones y seeders</mat-list-item>
            <mat-list-item role="listitem">Desarrollador de la documentación de la API</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
  </div>

  <h3 class="title">Licencia de Creative Commons</h3>
  <div align="center">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Reconocimiento No Comercial Sin Obra Derivada 4.0 Internacional.</mat-card-title>
        <mat-card-subtitle>Derechos reservados</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://lh3.googleusercontent.com/proxy/D436LAGZuIa4v50St_wOKBEI9OGoRKVuC_G1kifSUIcU8olhd4W-Hx6xoCzjXV4JWmzBR8A8VolFOodt4v1rqSiNnxfHrTlfpmJXIV2A-oncz5snIz5RwWWld0c"  href="http://creativecommons.org/licenses/by-nc-nd/4.0/" alt="Licencia">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>