.example-card {
  max-width: 400px;
}

.cartas2{
  max-width: 350px;
}

.example-header-image {
  background-image: url('https://img.pngio.com/copyright-symbol-png-file-copyright-symbol-png-1600_1600.png');
  background-size: cover;
}
.kevin {
  background-image: url('../../../assets/img/kevin.png');
  background-size: cover;
}
.oscar{
  background-image: url('../../../assets/img/oscar.jpg');
  background-size: cover;
}
.fernando{
  background-image: url('../../../assets/img/fernando.jpg');
  background-size: cover;
}
.miguel{
  background-image: url("../../../assets/img/miguel.jpg");
  background-size: cover;
}
.german{
  background-image: url("../../../assets/img/german.jpg");
  background-size: cover;
}