<mat-progress-bar *ngIf="isSending" mode="indeterminate"></mat-progress-bar>
<h2 mat-dialog-title>{{title}}</h2>
    <form [formGroup]="permissionForm">
        <mat-dialog-content>
          <mat-form-field appearance="fill">
            <mat-label>Registro</mat-label>
            <mat-select formControlName="registro">
              <mat-option value="users">Usuarios</mat-option>
              <mat-option value="users_types">Tipos de usuarios</mat-option>
              <mat-option value="species">Especies</mat-option>
              <mat-option value="schedules">Horarios</mat-option>
              <mat-option value="special">Especiales</mat-option>
              <mat-option value="pets">Mascotas</mat-option>
              <mat-option value="pet_details">Detalles de mascotas</mat-option>
              <mat-option value="permissions">Permisos</mat-option>
              <mat-option value="medical_condition">Condicion medica</mat-option>
              <mat-option value="appointment_types">Tipos de citas</mat-option>
              <mat-option value="appointment">Citas</mat-option>
            </mat-select>
          </mat-form-field>
            <br>
            <mat-radio-group formControlName="create">
                <label>Crear: </label>
                <mat-radio-button value="1" checked>Permitir</mat-radio-button>
                <mat-radio-button value="0">Denegar</mat-radio-button>
              </mat-radio-group>
            <br>
            <mat-radio-group formControlName="read">
                <label>Leer: </label>
                <mat-radio-button value="1" checked>Permitir</mat-radio-button>
                <mat-radio-button value="0">Denegar</mat-radio-button>
              </mat-radio-group>
            <br>
            <mat-radio-group formControlName="update">
                <label>Actualizar: </label>
                <mat-radio-button value="1" checked>Permitir</mat-radio-button>
                <mat-radio-button value="0">Denegar</mat-radio-button>
              </mat-radio-group>
            <br>
            <mat-radio-group formControlName="delete">
                <label>Eliminar: </label>
                <mat-radio-button value="1" checked>Permitir</mat-radio-button>
                <mat-radio-button value="0">Denegar</mat-radio-button>
              </mat-radio-group>
            <br>
            <mat-form-field appearance="fill" *ngIf="!userType">
                <mat-label>Tipo de usuario</mat-label>
                <mat-select formControlName="users_types_id">
                    <mat-option *ngFor="let type of userTypes" [value]="type.id">
                    {{type.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-radio-group formControlName="state">
              <label>Estado: </label>
              <mat-radio-button value="1" checked>Activo</mat-radio-button>
              <mat-radio-button value="0">Inactivo</mat-radio-button>
            </mat-radio-group>
          <br>
          </mat-dialog-content>
          <mat-dialog-actions>
            <button mat-raised-button color="error" (click)="close()">Cancelar</button>
            <button type="submit" mat-raised-button color="primary" (click)="send()" [disabled]="!permissionForm.valid">Enviar</button>
        </mat-dialog-actions>
    </form>
