<mat-progress-bar *ngIf="isSending" mode="indeterminate"></mat-progress-bar>
<h2 mat-dialog-title>{{title}}</h2>
<form [formGroup]="appointmentForm">
  <mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>Mascota</mat-label>
        <mat-select formControlName="pet_id" *ngIf="!readOnly">
          <mat-option *ngFor="let pet of pets" [value]="pet.id">
            {{pet.name + " (" + pet.owner.name + " " + pet.owner.lastname + ")"}}
          </mat-option>
        </mat-select>
        <input matInput type="text" [disabled]="true" *ngIf="readOnly" 
        [value]="appointment.pet.name + ' (' + appointment.pet.owner.name + ' ' + appointment.pet.owner.lastname + ')'">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tipo de cita</mat-label>
        <mat-select formControlName="type_id" *ngIf="!readOnly">
          <mat-option *ngFor="let type of types" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
        <input matInput type="text" [disabled]="true" *ngIf="readOnly" [value]="appointment.type.name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Doctor</mat-label>
        <mat-select formControlName="doctor_id" (ngModelChange)="getSchedules()" *ngIf="!readOnly">
          <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
            {{doctor.name + " " + doctor.lastname}}
          </mat-option>
        </mat-select>
        <input matInput type="text" [disabled]="true" *ngIf="readOnly" [value]="appointment.doctor.name + ' ' + appointment.doctor.lastname">
      </mat-form-field>

      <!--Horarios del doctor-->
      <div class="sched" *ngIf="schedules && !readOnly">
        <h3>Horarios</h3>
        <table #dataTable mat-table [dataSource]="schedules">
          <ng-container matColumnDef="day">
            <th mat-header-cell *matHeaderCellDef>Dia</th>
            <td mat-cell *matCellDef="let item">{{item.day}} </td>
          </ng-container>
          <ng-container matColumnDef="start_hour">
            <th mat-header-cell *matHeaderCellDef>Hora inicio</th>
            <td mat-cell *matCellDef="let item">{{item.start_hour}} </td>
          </ng-container>
          <ng-container matColumnDef="finish_hour">
              <th mat-header-cell *matHeaderCellDef>Hora fin</th>
              <td mat-cell *matCellDef="let item">{{item.finish_hour}} </td>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay;"></tr>
        </table>
      </div>

      <mat-form-field>
        <mat-label>Fecha de cita</mat-label>
        <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="appointment_date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Hora de inicio</mat-label>
          <input type="time" matInput formControlName="appointment_start_hour">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Estado de la cita</mat-label>
        <mat-select formControlName="status">
          <mat-option [value]="'Activo'">Activo</mat-option>
          <mat-option [value]="'Casi terminada'">Casi terminada</mat-option>
          <mat-option [value]="'Emergencia'">Emergencia</mat-option>
          <mat-option [value]="'Fallecido'">Fallecido</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Observaciones</mat-label>
        <textarea matInput formControlName="observations"></textarea>
      </mat-form-field>
      <mat-radio-group formControlName="emergency">
      <label>Emergencia: </label>
      <mat-radio-button value="1" checked>Si</mat-radio-button>
      <mat-radio-button value="0">No</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-radio-group formControlName="state" *ngIf="!readOnly"> 
      <label>Estado: </label>
      <mat-radio-button value="1" checked>Activo</mat-radio-button>
      <mat-radio-button value="0">Inactivo</mat-radio-button>
      </mat-radio-group>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="error" (click)="close()">Cancelar</button>
    <button type="submit" mat-raised-button color="primary" *ngIf="!readOnly" (click)="send()" [disabled]="!appointmentForm.valid">Enviar</button>
  </mat-dialog-actions>
</form>
