<mat-progress-bar *ngIf="isSending" mode="indeterminate"></mat-progress-bar>
<h2 mat-dialog-title>{{title}}</h2>
    <form [formGroup]="scheduleForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Dia</mat-label>
                <mat-select formControlName="day">
                  <mat-option value="Lunes">Lunes</mat-option>
                  <mat-option value="Martes">Martes</mat-option>
                  <mat-option value="Miercoles">Miercoles</mat-option>
                  <mat-option value="Jueves">Jueves</mat-option>
                  <mat-option value="Viernes">Viernes</mat-option>
                  <mat-option value="Sabado">Sabado</mat-option>
                  <mat-option value="Domingo">Domingo</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Hora inicio</mat-label>
                <input type="time" format="HH:mm:ss" matInput formControlName="start_hour">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Hora final</mat-label>
                <input type="time" format="HH:mm:ss" matInput formControlName="finish_hour">
            </mat-form-field>
            <mat-radio-group formControlName="state">
            <label>Estado: </label>
                <mat-radio-button value="1" checked>Activo</mat-radio-button>
                <mat-radio-button value="0">Inactivo</mat-radio-button>
            </mat-radio-group>
        </div>
          <mat-dialog-actions>
            <button mat-raised-button color="error" (click)="close()">Cancelar</button>
            <button type="submit" mat-raised-button color="primary" (click)="send()" [disabled]="!scheduleForm.valid">Enviar</button>
        </mat-dialog-actions>
    </form>
